

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 20px; left: 120px; width: 900px; height: 900px;
        }
        .silex-id-1555677628564-1 {top: 60px; left: 820px; height: 20px; width: 60px;
        }
        .silex-id-1555677660986-2 {top: 60px; left: 380px; height: 20px; width: 420px;
        }
        .silex-id-1555677973830-6 {top: 180px; left: 620px; height: 20px; width: 40px;
        }
        .silex-id-1555677868389-2 {top: 180px; left: 540px; height: 20px; width: 40px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555677993370-7 {top: 180px; left: 480px; height: 1.4em; width: 40px;
        }
        .silex-id-1555677893131-4 {top: 180px; left: 400px; height: 20px; width: 40px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678023871-8 {top: 180px; left: 340px; height: 1.4em; width: 40px;
        }
        .silex-id-1555678418669-17 {top: 840px; left: 560px; height: 20px; width: 20px;
        }
        .silex-id-1555678452223-20 {top: 840px; left: 520px; height: 20px; width: 20px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678415814-16 {top: 840px; left: 480px; height: 1.4em; width: 20px;
        }
        .silex-id-1555678446285-19 {top: 840px; left: 440px; height: 20px; width: 20px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678413387-15 {top: 840px; left: 400px; height: 1.4em; width: 20px;
        }
        .silex-id-1555678426285-18 {top: 840px; left: 360px; height: 20px; width: 20px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678403977-14 {top: 840px; left: 320px; height: 20px; width: 20px;
        }
        .silex-id-1555678380917-12 {top: 720px; left: 660px; height: 20px; width: 220px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678336632-6 {top: 660px; left: 700px; height: 20px; width: 40px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678339854-7 {top: 660px; left: 640px; height: 20px; width: 40px;
        }
        .silex-id-1555678348397-8 {top: 660px; left: 560px; height: 20px; width: 40px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678356341-9 {top: 660px; left: 500px; height: 20px; width: 40px;
        }
        .silex-id-1555678360354-10 {top: 660px; left: 420px; height: 20px; width: 40px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678368516-11 {top: 660px; left: 360px; height: 20px; width: 40px;
        }
        .silex-id-1555678312417-3 {top: 520px; left: 600px; height: 20px; width: 20px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678309162-2 {top: 520px; left: 520px; height: 1.4em; width: 60px;
        }
        .silex-id-1555678295491-0 {top: 480px; left: 640px; height: 20px; width: 60px;
        }
        .silex-id-1555678298900-1 {top: 480px; left: 600px; height: 20px; width: 20px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678236473-22 {top: 480px; left: 520px; height: 1.4em; width: 60px;
        }
        .silex-id-1555678230837-21 {top: 440px; left: 640px; height: 1.4em; width: 60px;
        }
        .silex-id-1555678158256-19 {top: 440px; left: 520px; height: 1.4em; width: 60px;
        }
        .silex-id-1555678227201-20 {top: 440px; left: 600px; height: 20px; width: 20px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678315327-4 {top: 520px; left: 640px; height: 20px; width: 60px;
        }
        .silex-id-1555678082128-12 {top: 320px; left: 640px; height: 1.4em; width: 20px;
        }
        .silex-id-1555678092062-13 {top: 320px; left: 600px; height: 20px; width: 20px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678068579-11 {top: 320px; left: 460px; height: 1.4em; width: 120px;
        }
        .silex-id-1555677837996-0 {top: 180px; left: 680px; height: 20px; width: 40px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555677779260-5 {top: 100px; left: 280px; height: 40px; width: 440px;
        }
        .silex-id-1555677719132-3 {top: 100px; left: 740px; height: 20px; width: 140px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678044596-10 {top: 240px; left: 280px; height: 40px; width: 440px;
        }
        .silex-id-1555678039201-9 {top: 240px; left: 740px; height: 20px; width: 140px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555695088850-0 {top: 580px; left: 280px; height: 40px; width: 440px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678322884-5 {top: 580px; left: 740px; height: 40px; width: 140px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555677592724-0 {top: 0px; left: 420px; height: 20px; width: 140px;
        }
        .silex-id-1555678099553-14 {top: 380px; left: 520px; height: 20px; width: 200px;
        }
        .silex-id-1555678123546-17 {top: 400px; left: 460px; height: 20px; width: 20px;
        }
        .silex-id-1555678119545-16 {top: 400px; left: 420px; height: 20px; width: 20px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678115828-15 {top: 400px; left: 340px; height: 20px; width: 60px;
        }
        .silex-id-1555678146854-18 {top: 420px; left: 740px; height: 20px; width: 140px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555678391486-13 {top: 760px; left: 160px; height: 40px; width: 560px; border-color: rgb(149, 4, 4);
        }
        .silex-id-1555795793546-1 {top: 420px; left: 20px; height: 140px; width: 300px;
        }
    