.orange {
        color:#f46524;
}

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1555625449638-26 {top: 460px; left: 40px; height: 20px; width: 20px;
        }
        .silex-id-1555625555342-0 {top: 460px; left: 80px; height: 20px; width: 20px;
        }
        .silex-id-1555625493063-28 {top: 460px; left: 120px; height: 1.4em; width: 40px;
        }
        .silex-id-1555625422310-25 {top: 420px; left: 140px; height: 20px; width: 120px;
        }
        .silex-id-1555625084553-1 {top: 80px; left: 40px; height: 20px; width: 60px;
        }
        .silex-id-1555625097516-2 {top: 80px; left: 120px; height: 20px; width: 20px;
        }
        .silex-id-1555626093469-1 {top: 120px; left: 460px; height: 20px; width: 20px;
        }
        .silex-id-1555625147469-3 {top: 80px; left: 160px; height: 1.4em; width: 60px;
        }
        .silex-id-1555625167416-4 {top: 120px; left: 40px; height: 1.4em; width: 60px;
        }
        .silex-id-1555625269578-11 {top: 120px; left: 120px; height: 20px; width: 20px;
        }
        .silex-id-1555625366750-18 {top: 120px; left: 160px; height: 1.4em; width: 60px;
        }
        .silex-id-1555626061667-0 {top: 120px; left: 240px; height: 1.4em; width: 200px;
        }
        .silex-id-1555625175734-5 {top: 160px; left: 40px; height: 1.4em; width: 60px;
        }
        .silex-id-1555625293429-12 {top: 160px; left: 120px; height: 20px; width: 20px;
        }
        .silex-id-1555625375010-19 {top: 160px; left: 160px; height: 1.4em; width: 60px;
        }
        .silex-id-1555626180370-1 {top: 160px; left: 460px; height: 20px; width: 20px;
        }
        .silex-id-1555626172345-0 {top: 160px; left: 240px; height: 1.4em; width: 200px;
        }
        .silex-id-1555625192968-6 {top: 200px; left: 40px; height: 1.4em; width: 60px;
        }
        .silex-id-1555625306477-13 {top: 200px; left: 120px; height: 20px; width: 20px;
        }
        .silex-id-1555625382787-20 {top: 200px; left: 160px; height: 1.4em; width: 60px;
        }
        .silex-id-1555626588758-1 {top: 200px; left: 460px; height: 20px; width: 20px;
        }
        .silex-id-1555626584120-0 {top: 200px; left: 240px; height: 1.4em; width: 200px;
        }
        .silex-id-1555625202185-7 {top: 240px; left: 40px; height: 1.4em; width: 60px;
        }
        .silex-id-1555625323266-14 {top: 240px; left: 120px; height: 20px; width: 20px;
        }
        .silex-id-1555625389506-21 {top: 240px; left: 160px; height: 1.4em; width: 60px;
        }
        .silex-id-1555626617421-7 {top: 240px; left: 460px; height: 20px; width: 20px;
        }
        .silex-id-1555626604465-3 {top: 240px; left: 240px; height: 1.4em; width: 200px;
        }
        .silex-id-1555625213599-8 {top: 280px; left: 40px; height: 1.4em; width: 60px;
        }
        .silex-id-1555625330452-15 {top: 280px; left: 120px; height: 20px; width: 20px;
        }
        .silex-id-1555625395638-22 {top: 280px; left: 160px; height: 1.4em; width: 60px;
        }
        .silex-id-1555626619753-8 {top: 280px; left: 460px; height: 20px; width: 20px;
        }
        .silex-id-1555626607814-4 {top: 280px; left: 240px; height: 1.4em; width: 200px;
        }
        .silex-id-1555625226836-9 {top: 320px; left: 40px; height: 1.4em; width: 60px;
        }
        .silex-id-1555625341058-16 {top: 320px; left: 120px; height: 20px; width: 20px;
        }
        .silex-id-1555625404455-23 {top: 320px; left: 160px; height: 1.4em; width: 60px;
        }
        .silex-id-1555626621221-9 {top: 320px; left: 460px; height: 20px; width: 20px;
        }
        .silex-id-1555626609723-5 {top: 320px; left: 240px; height: 1.4em; width: 200px;
        }
        .silex-id-1555625260758-10 {top: 360px; left: 40px; height: 1.4em; width: 60px;
        }
        .silex-id-1555625349804-17 {top: 360px; left: 120px; height: 20px; width: 20px;
        }
        .silex-id-1555625412190-24 {top: 360px; left: 160px; height: 1.4em; width: 60px;
        }
        .silex-id-1555626622319-10 {top: 360px; left: 460px; height: 20px; width: 20px;
        }
        .silex-id-1555626611619-6 {top: 360px; left: 240px; height: 1.4em; width: 200px;
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 595px;
        }
        .silex-id-1555624972521-1 {top: 0px; left: 200px; height: 40px; width: 160px;
        }
        .silex-id-1555625064761-0 {top: 60px; left: 380px; height: 20px; width: 140px;
        }
        .silex-id-1555626638419-14 {top: 360px; left: 500px; height: 20px; width: 40px;
        }
        .silex-id-1555626636855-13 {top: 320px; left: 500px; height: 20px; width: 40px;
        }
        .silex-id-1555626633529-12 {top: 280px; left: 500px; height: 20px; width: 40px;
        }
        .silex-id-1555626631450-11 {top: 240px; left: 500px; height: 20px; width: 40px;
        }
        .silex-id-1555626591606-2 {top: 200px; left: 500px; height: 20px; width: 40px;
        }
        .silex-id-1555626186537-2 {top: 160px; left: 500px; height: 20px; width: 40px;
        }
        .silex-id-1555626101950-2 {top: 120px; left: 500px; height: 20px; width: 40px;
        }
        .silex-id-1555625584205-1 {top: 420px; left: 300px; height: 120px; width: 226px;
        }
    